[core]
	excludesfile = /Users/brianheim/.gitignore_global
	editor = /usr/local/bin/vim
	commentchar = @
[user]
	name = Moss Heim
	email = self@mossheim.net
	signingkey = 0796CC538BEFF177
[commit]
	template = ~/.stCommitMsg
[merge]
	conflictstyle = diff3
	tool = vimdiff
[mergetool]
	prompt = false
	keepBackup = false
[color "branch"]
	current = yellow reverse
	local = yellow
	remote = green
[color "diff"]
	meta = yellow bold
	frag = magenta bold
	old = red bold
	new = green bold
[color "status"]
	added = yellow
	changed = green
	untracked = cyan
[color]
	ui = true
[push]
	default = matching
[rerere]
	enabled = true
[rebase]
	autosquash = true
[pull]
	ff = only
[gpg]
	program = gpg
