[core]
	excludesfile = /home/bheim/.gitignore_global
	editor = /usr/bin/vim
[merge]
	conflictstyle = diff3
	tool = bc3
[mergetool]
	bc3 = trustExitCode
[user]
	name = Brian Heim
	email = bheim@drwholdings.com
[color "branch"]
	current = yellow reverse
	local = yellow
	remote = green
[color "diff"]
	meta = yellow bold
	frag = magenta bold
	old = red bold
	new = green bold
[color "status"]
	added = yellow
	changed = green
	untracked = cyan
[color]
	ui = true
[push]
	default = matching
[rerere]
	enabled = true
[rebase]
	autosquash = true
